/* section N1 */
.wraper {
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.left-wraper {
    width: 490px;
    /* height: 288px; */
}

.button-div {
    margin-top: 40px;
}

.action-p {
    width: 236px;
}

.action-btn1 {
    background-color: black;
    border-radius: 32px;
    width: 100px;
    height: 48px;
    border: none;
    margin-right: 20px;
}

.flex {
    display: flex;
    align-items: center;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1-p {
    line-height: 28px;
    letter-spacing: 0px;
    margin-top: 24px;


}

.right-wraper {
    width: 490px;

}

/* section2 */
.section2-wraper {
    max-width: 1140px;
    height: 245px;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    column-gap: 30px;
    background-color: #F3F3F3;
}

.section2-three-wraper {
    width: 360px;
}

.feature-div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.black-sicle {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}

.feature-p {
    margin-top: 16px;
}

/* section3 */

.section3 {
    height: 620px;
    background-color: black;
    position: relative;
    padding: 96px 0;
}

.section3-wraper {
    height: 428px;
    background-color: black;
    color: white;
    
}
.section3-left-wraper{
    width: 503.5px;
}
.section3-p1{
    width: 503px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.section3-p2{
    margin: 16px 0;
}
.image-section3{
    border-radius: 12px;
    width: 504px;
}

/* section N4 */
.div-wraper {
    background-image: url(../images/CTAImg-Wide-1440px+-New.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 564px;
    position: relative;
}

.image-text-block {
    max-width: 540px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.spacing {
    line-height: 48px;
    letter-spacing: -0.5px;
}

.white {
    color: white;
}

/* fonts */
.inter-16px {
    font-size: 16px;
    font-family: 'Inter-SemiBold';
}

.inter-14px {
    font-family: 'Inter-SemiBold';
    font-size: 14px;
}

.inter-40px {
    font-family: 'Inter';
    font-size: 40px;
}

.inter-18px {
    font-family: 'Inter-SemiBold';
    font-size: 18px;
}

.inter-24px {
    font-size: 24px;
    font-family: 'Inter';
}

.inter-56px {
    font-family: 'Inter';
    font-size: 56px;
}

.image-text-block {}

.button1 {}

/* responsive */
@media(max-width: 1024px) {
    .wraper {
        flex-direction: column;
        margin-bottom: 32px;
    }

    .left-wraper {
        max-width: 630px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .action-p {
        width: 100%;
    }

    .right-wraper {
        width: 100%;
    }

    .right-wraper-img {
        width: 100%;
    }
    .section3-wraper{
        flex-direction: column;
        width: 90%;
    }
    .section3-right-wraper, 
    .section3-left-wraper, 
    .section3-p1{
        width: 100%;
    }
    
    .section3-left-wraper{
        display: flex;
        justify-content: space-between;
       
    }
    .section3-p2{
        margin-top: 0;
    }

}

@media(max-width:744px) {
    .wraper {
        margin-bottom: 21px;
    }

    .button-div {
        flex-direction: column;
    }

    .main-title {
        font-size: 40px;
    }

    .section2-wraper {
        flex-direction: column;
        height: 414px;
        row-gap: 30px;
    }

    .section2-three-wraper {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 138px;


    }

}